.who_am_i {
  color: rgb(0, 0, 0);
  position: absolute;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.heading {
  font-family: 'Courier New';
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15vw;
  text-align: end;
  top: 35vh;
  right: 5vw;
}

.subtext_1,
.subtext_2,
.subtext_3,
.subtext_4 {
  text-align: justify;
  font-size: 2em;
  max-width: 45vw;
}

.subtext_1,
.subtext_3 {
  right: 5vw;
}

.subtext_2,
.subtext_4 {
  left: 5vw;
}

.subtext_1 {
  top: 125vh;
}

.subtext_2 {
  top: 200vh;
}

.subtext_3 {
  top: 270vh;
}

.subtext_4 {
  top: 350vh;
}

.link {
  text-decoration: none;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}


@media (max-width: 1200px) {

  .who_am_i {
    color: rgb(0, 0, 0);
    position: absolute;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
  }

  .heading {
    font-family: 'Courier New';
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15vw;
    text-align: end;
    top: 65vh;
    right: 5vw;
  }

  .subtext_1 {
    font-size: 2em;
    top: 165vh;
    left: 5vw;
    max-width: 90vw;
    text-align: left;
  }

  .subtext_2 {
    font-size: 2em;
    top: 235vh;
    left: 5vw;
    max-width: 90vw;
    text-align: right;
  }

  .subtext_3 {
    font-size: 2em;
    top: 300vh;
    left: 5vw;
    max-width: 90vw;
    text-align: left;
  }

  .subtext_4 {
    font-size: 2em;
    top: 380vh;
    left: 5vw;
    max-width: 90vw;
    text-align: right;
  }

}